# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

# React Exclusions
# dependencies
/.pnp
.pnp.js

# testing
/coverage

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# React Native Exclusions
.expo/*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# General
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Firebase
/firebase/config.js

# Google
GoogleService-Info.plist

## App packaging
*.dSYM.zip
*.dSYM

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

# Expo Ejection
#
# Comment the following two exclusions after ejecting permanently.
# ios/
# android/

# Android
# Built application files
*.apk
*.aar
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
android/bin/
android/gen/
android/out/
#  Uncomment the following line in case you need and you don't have the release build type files in your app
# release/

# Gradle files
.gradle/
android/build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
android/proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
android/.navigation/

# Android Studio captures folder
android/captures/

# IntelliJ
*.iml
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/gradle.xml
android/.idea/assetWizardSettings.xml
android/.idea/dictionaries
android/.idea/libraries
# Android Studio 3 in .gitignore file.
android/.idea/caches
android/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
android/.idea/navEditor.xml

# External native build folder generated in Android Studio 2.2 and later
android/.externalNativeBuild
android/.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
android/freeline/
freeline_project_description.json

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

# Files from Other Branches
functions/
