div.center img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, p.center {
  text-align: center;
}

div.crop {
  display: block;
  height: 500px;
  margin: 10px 0 10px 0;
  overflow: hidden;
  width: auto;
}

img.crop {
  display: block;
  height: 150%;
  margin: -75px 0 0 0;
  width: auto;
}

.moveAround {
  animation: svg-jitter 1s infinite;
}

@keyframes svg-jitter {
  0% {
    transform: translate3d(0.1px, 0px, 0px);
  }
  25% {
    transform: translate3d(0px, 0.25px, 0px);
    transform: rotate(0.1deg);
  }
  50% {
    transform: translate3d(-0.1px, 0px, 0px);
  }
  75% {
    transform: translate3d(0px, -0.25px, 0px);
    transform: rotate(-0.1deg);
  }
  100% {
    transform: translate3d(0.1px, 0px, 0px);
  }
}
