.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.centerImage {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
}

.moveAround {
  animation: svg-jitter 1s infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes svg-jitter {
  0% {
    transform: translate3d(0.1px, 0px, 0px);
  }
  25% {
    transform: translate3d(0px, 0.25px, 0px);
    transform: rotate(0.1deg);
  }
  50% {
    transform: translate3d(-0.1px, 0px, 0px);
  }
  75% {
    transform: translate3d(0px, -0.25px, 0px);
    transform: rotate(-0.1deg);
  }
  100% {
    transform: translate3d(0.1px, 0px, 0px);
  }
}
